@model dynamic

@{
    ViewBag.Title = "Quiz";
}

@section Scripts {
    <script src="~/js/quiz-index.js"></script>
}

<h2>Quiz</h2>
<div data-ng-controller="quizIndexController">
    <h1>Contributers: </h1>
    <ol>Michał Igła</ol>
</div>